$main-color: #2b4074;
$text-color: #4a4a4a;
$bg-color: #f9f6e5;

%dosis-300 {
  font-family: 'Dosis-Light';
  font-weight: 300;
}

%robotoCondensed-400 {
  font-family: 'RobotoCondensed-Regular';
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium';
  font-weight: 500;
}
