@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';

.header {
  background-color: $main-color;

  &__inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu__btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: $main-color;
    top: 15px;
    left: 14px;
    box-shadow: 0 4px 0 0 $main-color, 0 8px 0 0 $main-color;
  }
}

.head {
  min-height: 193px;
  background-image: url(../img/bg-head.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top-slider {
  background: rgba(33, 33, 33, 0.5);
  text-align: center;
  min-height: 193px;

  &__item {
    min-height: 193px;
  }

  &__title {
    @extend %robotoCondensed-400;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 36px 0 28px;
    max-width: 243px;
    margin: 0 auto;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      height: 8px;
      width: 61px;
      background-color: $text-color;
    }
  }

  &__text {
    display: none;
  }

  &__btn {
    display: none;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 50px;
    left: 0;
    right: 0;

    li + li {
      margin-left: 10px;
    }

    button {
      font-size: 0;
      bottom: none;
      background-color: $main-color;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      transition: 0.4s;
    }

    .slick-active {
      button {
        background-color: transparent;
        border: 1px solid #476e4d;
      }
    }
  }
}

.call {
  background-color: $main-color;
  padding: 40px 0;
  color: #fff;
  text-align: center;

  &__title {
    @extend %roboto-500;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__text {
    @extend %dosis-300;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 40px;
  }

  &__btn {
    @extend %roboto-500;
    font-size: 18px;
    line-height: 18px;
    padding: 16px;
    color: $main-color;
    background-color: $bg-color;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    transform: 0.2s;

    &:hover {
      background-color: $hover-color2;
    }
  }
}

.service {
  padding: 25px 0 40px;
  text-align: center;

  &__title {
    color: $main-color;
    margin-bottom: 47px;
  }

  &__slogan {
    font-size: 20px;
    line-height: 24px;
    color: #4a4a4a;
    margin-bottom: 21px;
  }

  &__descryption {
    font-size: 15px;
    line-height: 17px;
    color: #797979;
    margin-bottom: 40px;
  }

  &__item {
    min-height: 310px;
    border: 1px solid $bg-color;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:last-child {
      border-bottom: 1px solid $bg-color;
    }

    &:hover {
      .service__item-img {
        margin-bottom: 13px;
      }

      .service__item-title {
        margin-bottom: 21px;
      }

      .service__item-info {
        opacity: 1;
        height: auto;
        overflow: auto;
      }

      .service__item-inner {
        border: 4px solid $main-color;
        margin: 18px 0;
        padding: 35px 20px 5px;
        min-height: 277px;
      }
    }
  }

  &__item-inner {
    transition: all 0.2s;
    position: relative;
  }

  &__item-img {
    margin-bottom: 30px;
  }

  &__item-title {
    @extend %robotoCondensed-700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: $text-color;
    max-width: 252px;
    margin: 0 auto;
    text-transform: uppercase;
  }

  &__item-info {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.4s;
  }

  &__item-text {
    @extend %dosis-500;
    margin-bottom: 17px;
  }

  &__item-link {
    @extend %robotoCondensed-700;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: $main-color;
    text-transform: uppercase;
    transition: 0.2s;

    &:hover {
      color: $hover-color1;
    }
  }
}

.projects {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);

  &__title {
    color: #fff;
    margin-bottom: 40px;

    &::after {
      background-color: #fff;
    }
  }

  &__item-img {
    border-radius: 4px;
    min-height: 250px;
    background-position: center;
    padding: 12px 14px;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
      .projects__item-inner {
        opacity: 1;
      }
    }
  }

  &__item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgba($bg-color, 0.83);
    min-height: 227px;
    opacity: 0;
    transition: all 0.4s;
  }

  &__item-info,
  &__item-search {
    margin: 0 7px;
  }

  &__item-link {
    @extend %robotoCondensed-700;
    color: $main-color;
    display: block;
    margin: 20px 0;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    transition: 0.2s;

    &:hover {
      color: $hover-color1;
    }
  }
}

.team {
  padding: 40px 0;
  text-align: center;

  &__img {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 23px;
    color: $text-color;
  }

  &__text {
    margin-bottom: 84px;
  }

  &__btn {
    bottom: none;
    font-size: 20px;
    line-height: 20px;
    background-color: $main-color;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 21px 26px;
    color: $bg-color;
    transition: 0.2s;

    &:hover {
      background-color: $hover-color1;
    }
  }
}

/////////////// Masonry Grid не осилил
.lastnews {
  padding: 40px 0;
  text-align: center;
  color: $text-color;
  background-color: $bg-color;
}

///////////////

.quotes {
  padding: 130px 0 40px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 34px;
    height: 29px;
    margin: 0 auto;
    background-image: url(/img/quote.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &-slider {
    text-align: center;
    color: $text-color;

    &__item {
      padding: 40px 0;
    }

    &__text {
      @extend %robotoCondensed-400;
      font-size: 24px;
      line-height: 26px;
      margin: 0 20px;
      padding-bottom: 20px;

      span {
        @extend %robotoCondensed-700;
        color: $main-color;
      }
    }

    &__author {
      @extend %robotoCondensed-700;
      margin: 0 20px;
      letter-spacing: 2px;
      font-size: 20px;
      line-height: 23px;
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 50px;

      li + li {
        margin-left: 10px;
      }

      button {
        font-size: 0;
        bottom: none;
        background-color: $main-color;
        padding: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transition: 0.4s;
      }

      .slick-active {
        button {
          background-color: transparent;
          border: 1px solid #476e4d;
        }
      }
    }
  }
}

.footer {
  background-color: $main-color;
  margin-top: 45px;
  color: #fff;
  position: relative;
  text-align: center;

  // .footer__logo

  &__head {
    background-color: $main-color;
    padding: 0 75px 5px;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    width: 83px;
    height: 55px;
    margin: 0 auto;
    border-radius: 3px;
  }

  &__logo-link {
    position: absolute;
    width: 83px;
    height: 55px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;

    img {
      width: 83px;
      height: 55px;
    }
  }

  // .footer__text

  &__text {
    @extend %roboto-400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 2px;
    padding: 85px 0 43px;
  }

  // .footer__social

  &__social {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }

  // .footer__social-link

  &__social-link {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 30px;
  }

  // .footer__items

  &__items {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
  }

  // .footer__item

  &__item {
    padding-bottom: 35px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  // .footer__item-title

  &__item-title {
    @extend %robotoCondensed-700;
    text-transform: uppercase;
    color: $bg-color;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    padding-bottom: 12px;
  }

  // .footer__item-link

  &__item-link {
    display: block;
    margin: 6px 0;

    a {
      transition: 0.2s;

      &:hover {
        color: #d7d1ff;
      }
    }

    &_adress {
      max-width: 165px;
      margin: 0 auto;
    }
  }
}

.copyright {
  background: $bg-color;
  position: relative;

  &__inner {
    min-height: 142px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link a {
    @extend %robotoCondensed-400;
    color: $text-color;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    position: relative;

    &::before {
      content: '';
      background-image: url(/img/up-arrow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;
      position: absolute;
      bottom: -45px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 21px;
      height: 21px;
      animation: up-down 1.5s infinite;
      animation-timing-function: linear;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -45px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 21px;
      height: 21px;
    }
  }
}

@keyframes up-down {
  0% {
    margin-top: 2.5px;
    opacity: 1;
  }
  50% {
    margin-top: -5px;
    opacity: 0;
  }
  100% {
    margin-top: 2.5px;
  }
}

@import 'media';
